@import "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/monokai.min.css" screen and (prefers-color-scheme: dark);

body .logo-light {
    display: inline-block;
}
body .logo-dark {
    display: none;
}

:root {
    --body-bg-color: #eee;
    --body-text-color: #333;
    --link-text-color: #0000ee;
    --link-seen-text-color: #551A8B;
    --self-link-text-color: #444;
    --link-border-color: #aaa;
    --codemirror-border-color: #ccc;
    --codemirror-background-color: #fff;
    --form-controls-bg-color: #fff;
    --form-controls-border-color: #ccc;
    --submit-button-bg-color: #7cffcb;
    --submit-button-bg-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
    --control-button-bg-color: #2e3138;
    --control-button-text-color: #fff;

    --select-text-color: #000000;
    --select-border-color: #CCCCCCFF;
    --textarea-bg-color: #ffffff;
    --textarea-text-color: #000;
}

@media (prefers-color-scheme: dark) {
    body.dark-mode .logo-light {
        display: none;
    }
    body.dark-mode .logo-dark {
        display: inline-block;
    }

    :root {
        --body-bg-color: #121212;
        --body-text-color: #cccccc;
        --link-text-color: #FF006E;
        --link-seen-text-color: #FF7C52;
        --self-link-text-color: #c7c7c7;
        --link-border-color: rgba(171, 171, 171, 0);
        --codemirror-border-color: #333333;
        --codemirror-background-color: #000000;
        --form-controls-bg-color: #000000;
        --form-controls-border-color: #333333;
        --submit-button-bg-color: #2A8E9D;
        --submit-button-bg-image: linear-gradient(315deg, #2DB3B5 0%, #306A7D 74%);
        --control-button-bg-color: #a5b0c7;
        --control-button-text-color: #000000;

        --select-text-color: #ffffff;
        --select-border-color: #333;

        --textarea-bg-color: #191a16;
        --textarea-text-color: #fff;
    }
}
