body {
  background: #eee;
  color: #333;
  height: 95vh;
  font: 13px/1.231 arial, sans-serif;
}

a.self {
  font-weight: bold;
  text-decoration: none;
  color: #444;
  border-bottom: 1px solid #aaa
}

h1.logo {
  display: flex;
  line-height: 1em;
  margin: 0;
}

h1 img {
  font-family: montserrat, nexa, gotham, sans-serif;
  font-weight: 600;
}

p, select, label, .blurb, a.turn-off-codemirror {
  font-size: small;
}

.sub-title {
  margin-bottom: 30px;
}

.title {
  margin-left: 40px;
}

textarea#source {
  width: 100%;
  height: 100%;
}

a.turn-off-codemirror {
  margin-left: 25px;
}

input[type="checkbox"], select, button {
  cursor: pointer;
}

#version-number {
  align-self: flex-end;
  font-family: arial, sans-serif;
  font-size: .5em;
  margin-left: 10px;
}

#testresults {
  display: none;
  font-family: monaco, consolas, "lucida console", "courier new", monospace;
}

.CodeMirror {
  border: 1px solid #ccc;
  height: 100%;
  font-size: 90%;
  margin-bottom: 6px;
  background: white;
}

.hide {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: minmax(auto, 1209px) 0.9fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0 14px;
  grid-auto-flow: row;
  grid-template-areas:
    "title options"
    "editor options";
}

.title {
  grid-area: title;
}

.editor {
  grid-area: editor;
}

.options {
  grid-area: options;
}

select, .buttons-box button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.5em;
  padding: 0.5em;
  margin: 0 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

select {
  display: block;
}

.options-checkboxes, .options-select {
  display: inline-table;
}

#language {
  font-size: 20px;
  width: 100%;
  padding-left: 16px;
  font-weight: 800;
  margin-bottom: 10px;
}

.buttons-box {
  margin-top: 20px;
}

.buttons-box .submit {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-size: 1.5em;
  width: 100%;
  background-color: #7cffcb;
  background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
}

.buttons-box .control {
  background-color: #2e3138;
  color: white;
  display: inline-flex;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-areas:
      "title"
      "editor"
      "options";
    grid-template-rows: 0.1fr 1.8fr 0.1fr;
    width: 100vw;
  }

  .title {
    margin-left: 10px;
  }

  .editor, .title, .options {
    width: 95vw;
  }

  .CodeMirror {
    height: 50vh;
  }
}
